{% extends "dashboard/base.html" %}   <!-- template inheritance from base.html -->
{% load static %}



<!DOCTYPE html>
<html>

<head>
</head>

<body>

	{% block Area_Chart %} {% endblock Area_Chart %}
	{% block DataTable %} {% endblock DataTable %}

	{% block content_block %}	<!--- override content block in base.html with following -->
		<h1><u>About page</u> </h1>
		<p>
			<div class="mr-5">
				<div class = "text-monospace"> This is a web analytics dashboard for CSAI and
				Allen Deng's Research Project </div>
			</div>
		</p>

		<!-- External JS Script -->
		<script type="text/javascript" src="{% static 'dashboard/js/test.js' %}"></script>

	{% endblock content_block %}


</body>
</html>
